		body{
			width:80%;
			height:100%;
			margin: 0 auto;
			color:#000000;
			font-size:25px;
			text-align:center;
			border: 3px solid #000;
		}
		.atalho{
			float:left;
			margin:17px;
			width:150px;
			height:50px;
		}
		#secundario{
			width:17%;
			margin-left:100px;
			margin:10px 625px;
			position: absolute;
			height:300px;
			float:rigth;
			background-color:#eee;
		}
		#cabecalho{
			width:100%;
			height:100px;
			background-color: red;
		}
		#navegacao{
			width:20%;
			height:600px;
			background-color:gray;
			/* Flutua o elemento para esquerda */
			float:left;
			/*border: 2px solid #000;*/

			
		}
		#secao{
			width:80%;
			height:800px;
			background-color: blue;
			/* Flutua o elemento para direita */
			float:right;
		}
		#rodape{
			width:100%;
			height:100px;
			background-color: orange;
			/*Deixa a renderização do elemento com prioridade frente as flutuações, cortando eventuais diagramações erradas. */
			clear:both;
		}
		.artigo{
			margin:10px;
			background-color: white;
			height:300px;
			width:70%;
		}
		
		ul { 
          margin: 0;
          padding: 0;
	      float: left;
          list-style: none;
          width: 216px;
        }


        ul li { 
          position: relative;
        }
	
	
l              li ul {
          position: absolute;
          left: 149px;
          top: 0;
          display: none;
    }

        ul li a { 
          display: block;
          text-decoration: none;
	      font-family: Trebuchet MS, Verdana, Cursive;
	      font-size: 22px;
          color: #4682B4;
          background: #F5F5DC;
          padding: 7px;
          border: 1px solid #ccc;
}

li:hover ul { display: block; }

ul li a:hover{
    font-weight: bold;
    background: #ccc; }
	
.primeiro_1{
			background-color:#eee;
			width:100%;
			margin:0px;
			height:33px;
	       }
.segundo_dt{
			background-color:#ccc;
			width:100%;
			margin:0px;
			height:95px;
		}
summary::-webkit-details-marker {
			display: none
		}
		summary:after {
			background: #999;
			content: "+";
			color: #fff;
			float: left;
			font-weight: bold;
			padding: 0;
			text-align: center;
			width: 20px;
		}
		details[open] summary:after {
			content: "-";
		}